body {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  color: black;
  background-color: white;
  margin: auto;
}

/* dark mode 
.dark-mode {
  color: white;
  background-color: black; 
}
*/

/* start nav bar styling */
nav {
  background-color: turquoise;
  position: fixed;
  /* make nav sticky/ fixed */
  top: 0;
  /* set nav to top of screen */
  width: 100%;
  transition: top 0.3s;
  /* transition effect when scrolling down and up */
  z-index: 1;
}

nav a {
  float: right;
  color: white;
  text-align: center;
  padding: 1.2%;
  text-decoration: none;
}

nav a:hover {
  background-color: white;
  color: black;
}

/* end nav bar styling */

header {
  background: turquoise;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

#whatIdo {
  padding-top: 10%;
}

#grid-container {
  display: flex;
  flex-flow: row;
  flex-direction:inherit;
  justify-content: center;
  padding-bottom: 10%;

}

#projects {
  background: turquoise;
  padding: 10%;
  display: flex;
  flex-flow: row;
}

.btn {
  background-color: white;
  border: 1px solid black;
  color: black;
  cursor: pointer;
  font-weight: 700;
  transition: box-shadow 0.15s ease-in-out;
  transition-property: box-shadow, background-color, border-color;
  padding: 0 0.9rem;
  border-radius: 2rem;
  font-size: 0.8rem;
  line-height: calc(2rem - (1px * 2));
  text-decoration: none;
}

#projects-image {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  max-width: 100%;
  margin-left: 15%;
  opacity: 0.75;
}

#projects-sub {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#projects-sub,
div {
  margin-top: 0.5rem;
  padding-bottom: 5%;
}

.projectsHeader {
  padding-top: 5%;
}

/* defining a class for the bar chart on project-sub page*/
/* .bar {
  width: 12rem;
  height: 6.3rem;
  display: inline-block;
  background-color: turquoise;
} */

#social {
  padding: 10%;
  display: flex;
  flex-flow: row-reverse;
  justify-content: space-between;
}

#contacts {
  background: turquoise;
  display: flex;
  flex-flow: column;
  padding-bottom: 5%;
}

/* set image width of all imgs */
.grid-container img {
  max-width:100%;
}

.search-bar {
  border-radius: 1.6rem;
  border: 0;
  min-width: 183px;
  background-color: white;
}

.searchBox {
  color: black;
  border: 1px solid turquoise;
  min-width: 50%;
  line-height: calc(1.8rem - (1px * 2));
  background-color: transparent;
  box-sizing: border-box;
}

@media only screen and (max-width: 620px) {
  /* For mobile phones: */
  body {
    width: 100%;
  }
}
