
body {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}


/* start nav bar styling */
nav {
    background-color: turquoise;
    position: fixed;
    /* make nav sticky/ fixed */
    top: 0;
    /* set nav to top of screen */
    width: 100%;
    transition: top 0.3s;
    /* transition effect when scrolling down and up */
    z-index: 1;
}

nav a {
    float: right;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}

nav a:hover {
    background-color: white;
    color: black;
}

/* end nav bar styling */

header {
    background: turquoise;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#whatIdo {
    padding-top: 10%;
}

/* added a grid property to the container elems. can use grid or flex */
#grid-container {
    display: flex;
    flex-flow: row;
    /*grid-template-columns: 100px 100px 100px;*/
    padding-bottom: 10%;
}

#projects {
    background: turquoise;
    padding: 10%;
    display: flex;
    flex-flow: row;
}

#projects-image {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    width: 100%;
    margin-left: 15%;
    opacity: 0.75;
}

#projects-sub {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

#social {
    padding: 10%;
    display: flex;
    flex-flow: row-reverse;
    justify-content: space-between;
}

#contacts {
    background: turquoise;
    padding: 10%;
    display: flex;
    flex-flow: column;
}

/* set this up for mobile. flex column */
@media screen and (width: 350px) {
    body {
        font: 5px;
    }
}


