html,
body {
    text-align: center;
}

/* start nav bar styling */
nav {
    background-color: turquoise;
    position: fixed; /* make nav sticky/ fixed */
    top: 0; /* set nav to top of screen */
    width: 100%;
    transition: top 0.3s; /* transition effect when scrolling down and up */
}

nav a {
    float: right;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}

nav a:hover {
    background-color: white;
    color: black;
}
/* end nav bar styling */

header {
    background: turquoise;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh; /* fixed to 100vh as I want header section to occupy whole screen */
}

/* added a grid property to the container elems. can use grid or flex */
#grid-container {
    width: auto;
    display: flex;
    grid-template-columns: 100px 100px 100px;
    /* can use 1fr instead? */
    /* position/ align-content: center; why doesn't this work? */
}

#projects {
    /* can add h2 tag here to target color but it messes up positioning */
    /* background: turquoise; */
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

#projects-sub {
    width: 100%;
    display: flex;
}

#social {
    background: turquoise;
    width: 100%;
    display: ;
}

@media (width: 350px height: 450px) {
    body {
        font: 5px;
    }
}

